
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI',sans-serif;
}

header{
    padding: 0px 8.5%;
    background-color: #fcb900;
    position: sticky;
    top: 0;
    

}

nav{
   display: flex;
    width: 100%;
    align-items:center;
    flex-wrap: wrap;
    padding: 20px 0px;
}

.logo{
    width: 130px;
    height: 50px;
    border-radius: 70px;
    
}

nav ul{
    flex: 1;
    text-align: center;
    
    
}

nav ul li{
    list-style: none;
    display: inline-block;

}

nav ul li a{
    text-decoration: none;
    color: white;
    margin: 10px;
    font-size: 20px;
}

a:hover{
    color:#333;
    border-bottom: 2px solid #333 ;
}

nav  .button{
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;

    text-decoration: none;
    color: #fcb900;
    font-weight:bold ;
    text-align: center;

}

nav .button:hover{
    background-color: #fcb900;
    color: white;
    border: 1px solid white;
}

footer{
    background-color: #fcb900;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    color: white;
    margin-top: 50px;
}

.div1{
  text-align: center;
  font-weight: bold;
  color: coral;
}

.about {
      max-width: 900px;
      margin: 2rem auto;
      padding: 2rem;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.about h2 {
      text-align: center;
      margin-bottom: 1rem;
      
     
}

.h1memebers{
  margin-top: 15px;
  
}
.team {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 1rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
}

.member {
      flex: 1 1 40%;
      background-color: #fefefe;
      border-left: 5px solid #fcb900;
      padding: 1rem;
      border-radius: 6px;
}

table {
      margin-top: 2rem;
      width: 100%;
      border-collapse: collapse;
      box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

th, td {
      border: 1px solid #ccc;
      padding: 10px;
      text-align: center;
}

th{
      background-color:#333;
      color: white;
}
th:hover{
    background-color: blueviolet;
    color: black;
}
tr:hover{
     background-color:#f6ebeb ;
}

td:hover{
    background-color:rgb(199, 131, 58);
    color: white;
}
tfoot td{
    font-weight: bold;
    color:#fcb900;
    
    
}
tfoot td a{
    text-decoration: none;
    color: blue;
}